.rect-upload .n-upload-file-list {
  display: none;
}

.rect-upload-mask {
  transition: opacity ease 0.3s;
}

.rect-upload:hover .rect-upload-mask {
  opacity: 1;
}

.n-upload-trigger {
  @apply !w-full;

  .n-upload-dragger {
    @apply !w-full;
  }
}
