.dropdown {
  --active-bg: rgb(94 24 254 / 10%);

  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  @apply !rounded-lg !mt-5 !ml-0 !py-5 !px-3;

  :global {
    .n-dropdown-option-body {
      @apply rounded-md min-w-180px;

      &.n-dropdown-option-body--pending:not(.n-dropdown-option-body--disabled) {
        background-color: var(--active-bg) !important;
      }

      &--group {
        @apply !h-auto !leading-none !mb-4;

        .n-dropdown-option-body {
          &__prefix {
            @apply !w-2;
          }

          &__label {
            @apply leading-none;
          }
        }
      }

      &--active {
        background: var(--active-bg);

        .n-dropdown-option-body {
          &__suffix {
            @apply rounded-lg bg-green1 h-2 mr-10px ml-2 w-2 self-center !min-w-0 !p-0 !block;
          }
        }
      }
    }
  }
}
