.dropdown {
  --active-bg: rgb(94 24 254 / 10%);

  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  @apply !rounded-lg !mt-5 !ml-0 !py-5 !px-3;

  :global {
    .n-dropdown-option-body {
      @apply rounded-md min-w-80 !h-auto !p-3;

      &__prefix,
      &__suffix {
        @apply !hidden;
      }

      &.n-dropdown-option-body--pending:not(.n-dropdown-option-body--disabled) {
        background-color: var(--active-bg) !important;
      }

      &--group {
        @apply !h-auto !leading-none !mb-1;

        .n-dropdown-option-body {
          /** */
        }
      }

      &--active {
        background: var(--active-bg);

        .n-dropdown-option-body {
          /** */
        }
      }
    }
  }
}

.btn {
  @apply border-none flex outline-none rounded-3xl h-10 text-white pr-5 pl-4 transition-all items-center appearance-none;

  background: linear-gradient(270deg, #8d6ff6 0%, #5192f6 100%);

  &:hover {
    background: linear-gradient(270deg, #5192f6 0%, #8d6ff6 100%);
  }
}
