.title36 {
  font-weight: 700;
  font-size: 2.25rem;
}

.title30 {
  font-weight: 700;
  font-size: 1.875rem;
}

.title26 {
  font-weight: 700;
  font-size: 1.625rem;
}

.title24 {
  font-weight: 700;
  font-size: 1.5rem;
}

.title20 {
  font-weight: 700;
  font-size: 1.25rem;
}

.title14 {
  font-weight: 700;
  font-size: 0.875rem;
}
