.hoverBox {
  border: 1px solid rgb(102 102 102 / 40%);
  @media (max-width: 767.9px) {
    border-bottom-color: transparent;
  }

  @media (min-width: 768px) {
    border-right-color: transparent;
  }
}

.hoverBox:last-child {
  border: 1px solid rgb(102 102 102 / 40%);
}

.hoverBox:hover + .hoverBox {
  @media (max-width: 767.9px) {
    border-top-color: transparent;
  }

  @media (min-width: 768px) {
    border-left-color: transparent;
  }
}

.hoverBox:hover {
  border: 1px solid rgb(94 24 254 / 40%);
}
