.comunionEconomicsBox {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 734px;
  height: 681px;
  margin-left: 630px;
  overflow: hidden;
  background-image: url('/mission-bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 734px 681px;
  transform: translateX(-50%);
}

.comunionEconomicsBoxH5 {
  position: absolute;
  top: 154px;
  left: 50%;
  z-index: 1;
  width: 251px;
  height: 202px;
  margin-left: 150px;
  overflow: hidden;
  background-image: url('/mission-bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 251px 202px;
  transform: translateX(-50%);
}
