.body {
  @apply flex-1 relative;

  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 3rem;
}

.footer {
  @apply bg-primary2;

  font-family: Orbitron, sans-serif;

  :global {
    .u-card-title1 {
      @apply font-normal text-white text-[18px] leading-4;
    }

    .u-title1 {
      @apply font-normal mt-4 text-white;
    }

    .footer_links {
      position: relative;
    }

    .footer_links_vertion {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      font-family: sans-serif;
      cursor: default;
    }
  }
}
